[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prisma = "*"
asyncio = "*"
uvicorn = "*"
ariadne = "*"
nodeenv = "*"
bcrypt = "*"
json = "*"
secrets = "*"
schedule = "*"
bson = "*"
rocketry = "*"

[dev-packages]

[requires]
python_version = "3.11"
